---
/**
 * FloatingSocialBar Component
 * Fixed social links at bottom-left corner, used across all pages
 */
---

<div class="floating-social-bar">
  <a
    href="https://instagram.com/protocolzero.music"
    target="_blank"
    rel="noopener noreferrer"
    class="floating-social-icon"
    aria-label="Instagram"
  >
    <img src="/images/icons/instagram.svg" alt="Instagram" width="28" height="28" />
  </a>
    <a
    href="https://youtube.com/@ProtocolZeroMusic"
    target="_blank"
    rel="noopener noreferrer"
    class="floating-social-icon"
    aria-label="YouTube"
  >
    <img src="/images/icons/youtube.svg" alt="YouTube" width="28" height="28" />
  </a>
  <a
    href="https://soundcloud.com/protocolzeromusic"
    target="_blank"
    rel="noopener noreferrer"
    class="floating-social-icon"
    aria-label="SoundCloud"
  >
    <img src="/images/icons/soundcloud.svg" alt="SoundCloud" width="28" height="28" />
  </a>
  <a
    href="https://beatport.com"
    target="_blank"
    rel="noopener noreferrer"
    class="floating-social-icon"
    aria-label="Beatport"
  >
    <img src="/images/icons/beatport.svg" alt="Beatport" width="28" height="28" />
  </a>
</div>
